<mat-card appearance="outlined">
  <mat-card-content>
    <div id="container">
      <div id="title">
        <h2>Cadmus Codicology</h2>
      </div>
      <div id="image">
        <img src="img/ms-600.png" width="400px" alt="Codicology" />
      </div>
    </div>
    <div>
      <h2>References</h2>
      <ul>
        <li>
          <a
            rel="noopener"
            href="https://vedph.github.io/cadmus-doc/models/shared.html#codicology"
            target="_blank"
            >Cadmus documentation</a
          >
        </li>
        <li>
          <a
            rel="noopener"
            href="https://vedph.github.io/cadmus-doc/models/shared.html#codicology"
            target="_blank"
            >models documentation</a
          >
        </li>
      </ul>
      <h2>Source Code</h2>
      <ul>
        <li>
          <a
            rel="noopener"
            href="https://github.com/vedph/cadmus-codicology"
            target="_blank"
            >models source code</a
          >
        </li>
        <li>
          <a
            rel="noopener"
            href="https://github.com/vedph/cadmus-codicology-api"
            target="_blank"
            >API source code</a
          >
        </li>
        <li>
          <a
            rel="noopener"
            href="https://github.com/vedph/cadmus-codicology-shell"
            target="_blank"
            >shell source code</a
          >
        </li>
      </ul>
    </div>
    @if (!logged) {
    <div id="login">Please <a routerLink="/login">login</a> to start.</div>
    }
  </mat-card-content>
</mat-card>
